//- Все примеси в этом файле должны начинаться c имени блока (conditions)

mixin conditions(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +conditions('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' conditions--' + modsList[i].trim();
      }
    }

  .conditions(class=allMods)&attributes(attributes)
    .conditions__inner!= text
