// В этом файле должны быть стили для БЭМ-блока table-data, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table-data {

  $block-name:                &; // #{$block-name}__element

  &__row {
    padding: rem(12px) 0;
    border-bottom: 1px solid $gray-lighten;
    
    @media (min-width: $screen-md) {
      display: flex;
    }
    
    &:last-child {
      border-bottom: none;
    }
  }

  &__cell {
    
    &--title {
      font-weight: 700;
      
      @media (min-width: $screen-md) {
        flex: 0 0 rem(300px);
        min-width: rem(300px);
        margin-right: $grid-gutter-width;
      }
    }

    br {
      display: none;
      
      @media (min-width: $screen-md) {
        display: inline;
      }
    }
  }
}
