//- Все примеси в этом файле должны начинаться c имени блока (table-data)

mixin table-data(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +table-data('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' table-data--' + modsList[i].trim();
      }
    }

  .table-data(class=allMods)&attributes(attributes)
    .table-data__inner!= text
