//- Все примеси в этом файле должны начинаться c имени блока (buttons-group)

mixin buttons-group(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +buttons-group('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' buttons-group--' + modsList[i].trim();
      }
    }

  .buttons-group(class=allMods)&attributes(attributes)
    .buttons-group__container
      block
