// В этом файле должны быть стили для БЭМ-блока buttons-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.buttons-group {

  $block-name:                &; // #{$block-name}__element

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: rem(-16px) rem(-8px) 0;
  }

  &__item {
    margin: rem(16px) rem(8px) 0;

    &--visible-sm-up {
      display: none;

      @media (min-width: $screen-md) {
        display: block;
      }
    }
  }

  &--centered {

    #{$block-name}__container {
      justify-content: center;
    }
  }

  &--md-started {

    @media (min-width: $screen-md) {

      #{$block-name}__container {
        justify-content: flex-start;
      }
    }
  }

  &--md-ended {

    @media (min-width: $screen-md) {

      #{$block-name}__container {
        justify-content: flex-end;
      }
    }
  }

  &--md-betweened {

    @media (min-width: $screen-md) {

      #{$block-name}__container {
        justify-content: space-between;
      }
    }
  }

  &--lg-started {

    @media (min-width: $screen-lg) {

      #{$block-name}__container {
        justify-content: flex-start;
      }
    }
  }

  &--lg-ended {

    @media (min-width: $screen-lg) {

      #{$block-name}__container {
        justify-content: flex-end;
      }
    }
  }
}
