// В этом файле должны быть стили для БЭМ-блока heading, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.heading {

  $block-name:                &; // #{$block-name}__element

  margin: 0 0 rem(24px);
  
  @media (min-width: $screen-md) {
    margin-bottom: rem(32px);
  }
  
  &:last-child {
    margin-bottom: 0;
  }

  &--secondary {
    color: $color-secondary--text;
  }
}
