// В этом файле должны быть стили для БЭМ-блока accordion, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.accordion {

  $block-name:                &; // #{$block-name}__element

  transition: all $transition-time;
  
  @media (min-width: $screen-md) {
    position: relative;
    padding: rem(24px) rem(76px);
  }
  
  &__header {
    display: flex;
    align-items: flex-start;
    padding: rem(4px) 0;
    outline: none;
    cursor: pointer;
    
    &:hover {
      
      #{$block-name}__arrow {
        color: $color-blue;
        opacity: 1;
      }

      #{$block-name}__title {
        color: $color-blue;
      }
    }
  }

  &__more {
    flex: 0 0 rem(16px);
    min-width: rem(16px);
    margin: 0 rem(16px) 0 rem(2px);
    
    @media (min-width: $screen-md) {
      flex: 0 0 rem(20px);
      min-width: rem(20px);
      margin-right: rem(20px);
    }
  }

  &__arrow {
    margin-top: rem(4px);
  }

  &__title {
    font-weight: 700;
    transition: all $transition-time;
    
    @media (min-width: $screen-md) {
      font-size: $font-size--large;
    }
  }

  &__close {
    display: none;
    
    @media (min-width: $screen-md) {
      position: absolute;
      right: rem(16px);
      top: rem(16px);
    }
  }

  &__content {
    display: none;
    padding-top: rem(4px);
    padding-bottom: rem(4px);
    
    @media (min-width: $screen-md) {
      padding-top: rem(10px);
      padding-bottom: rem(4px);
    }
  }

  &--active {
    margin-bottom: rem(12px);
    border-radius: rem(5px);
    
    @media (min-width: $screen-md) {
      margin-bottom: rem(16px);
      background: $body-bg--gray;
    }
    
    #{$block-name}__arrow {
      color: $color-blue;
      opacity: 1;
      transform: rotate3d(0, 0, 1, -180deg);
    }
    
    #{$block-name}__title {
      color: $color-blue;
    }
    
    #{$block-name}__close {

      @media (min-width: $screen-md) {
        display: block;
      }
    }
  }
}
