//- Все примеси в этом файле должны начинаться c имени блока (accordion)

mixin accordion(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +accordion('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' accordion--' + modsList[i].trim();
      }
    }

  .accordion(class=allMods)&attributes(attributes)
    .accordion__inner!= text
