// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {

  $block-name:                &; // #{$block-name}__element

  padding: rem(50px) 0 rem(64px);

  @media (min-width: $screen-md) {
    padding-top: rem(72px);
    padding-bottom: rem(86px);
  }

  &__inner {
    @include container();

    &--full-width {
      padding-left: rem(10px);
      padding-right: rem(10px);

      @media (min-width: $screen-md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &--hero {
    padding-top: rem(16px);
    padding-bottom: rem(160px);

    @media (min-width: $screen-md) {
      padding-top: rem(60px);
      padding-bottom: rem(240px);
    }
  }

  &--about {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &--conditions {
    background-color: $body-bg--light;
    background-image: url(../img/conditions--back-top.png), url(../img/conditions--back-center.png), url(../img/conditions--back-bottom.png);
    background-position: right top, left center, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: $text-color--invert;

    @media (min-width: $screen-md) {
      background-image: url(../img/conditions--desktop--back-full.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--schemes {
    background-color: $body-bg--gray;
  }

  &--photos {
    background-color: $body-bg--dark;
    color: $text-color--invert;

    @media (min-width: $screen-md) {
      background-image: url(../img/conditions--desktop--back-full.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--contacts {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
