//- Все примеси в этом файле должны начинаться c имени блока (advantage)

mixin advantage(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +advantage('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' advantage--' + modsList[i].trim();
      }
    }

  .advantage(class=allMods)&attributes(attributes)
    .advantage__inner!= text
