// В этом файле должны быть стили для БЭМ-блока advantage, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantage {

  $block-name:                &; // #{$block-name}__element

  &__media {
    margin-bottom: rem(16px);
  }

  &__icon {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
  }

  &__content {
    max-width: rem(200px);
    margin: 0 auto;
  }

  &__title {
    text-align: center;
  }

  &--green {

    #{$block-name}__icon {
      background: $body-green;
    }
  }

  &--blue {
    
    #{$block-name}__icon {
      background: $body-blue
    }
  }

  &--orange {
    
    #{$block-name}__icon {
      background: $body-orange;
    }
  }

  &--pink {

    #{$block-name}__icon {
      background: $body-pink;
    }
  }
}
