// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {

  $block-name:                &; // #{$block-name}__element

  &__links {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-md) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .no-js & {
      display: none;
    }

    &:after {

      @media (min-width: $screen-md) {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: $body-bg--gray;
      }
    }

    &--open {

      #{$block-name}__link-wrap {
        display: block;
      }
    }
  }

  &__link-wrap {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      order: 0;
      border-bottom: 3px solid transparent;
      transition: all $transition-time;
    }

    &--active {
      display: block;
      order: -1;
      border-bottom: 2px solid $color-main--light;

      @media (min-width: $screen-md) {
        border-color: $color-main;
      }

      #{$block-name}__link {
        color: $text-color !important;
        background-color: #fff;
      }

      #{$block-name}__arrow {
        display: block;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    padding: $field-padding-vertical 0;
    color: $text-color--muted;
    text-decoration: none;
    font-size: $font-size--large;
    font-weight: 700;
    transition: all $transition-time;

    @media (min-width: $screen-md) {
      padding: rem(16px) rem(20px);
    }

    &:hover,
    &:focus {
      color: $text-color;
    }
  }

  &__arrow {
    display: none;
    margin-left: rem(16px);
    color: $color-main !important;
    opacity: 1;

    @media (min-width: $screen-md) {
      display: none !important;
    }
  }

  &__content-wrapper {
    margin-top: rem(28px);
  }

  &__content-item {

    .js & {
      display: none;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }

  &--faq {

    #{$block-name}__links {

      &:after {

        @media (min-width: $screen-md) {
          left: -999rem;
          right: -999rem;
        }
      }
    }
  }
}
