// В этом файле должны быть стили для БЭМ-блока schemes-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.schemes-list {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $screen-xl) {
    position: relative;
    margin-bottom: rem(160px);
  }

  &__container {
    @include row();
    list-style: none;
    margin-top: rem(-12px) !important;
    margin-bottom: 0;
    padding: 0;
  }

  &__item {
    @include col();
    @include col(md, 6);
    @include col(lg, 4);
    @include col(xl, 2);
    margin-top: rem(12px);
  }

  &__progress {
    // display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    @media (min-width: $screen-xl) {
      display: block;
    }
  }
}
