// В этом файле должны быть стили для БЭМ-блока scheme, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.scheme {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: flex-start;

  @media (min-width: $screen-xl) {
    position: relative;
    display: block;
    height: 100%;
    padding-bottom: 44px;
  }

  &--active {

    #{$block-name}__number,
    #{$block-name}__title {

      @media (min-width: $screen-xl) {
        color: $color-blue;
      }
    }

    #{$block-name}__number {

      @media (min-width: $screen-xl) {
        margin-top: rem(-8px);
        margin-left: -0.05em;
        padding-bottom: rem(8px);
        font-size: rem(48px);
      }
    }
  }

  &__number {
    flex: 0 0 rem(40px);
    min-width: rem(40px);
    margin: rem(6px) rem(10px) 0 0;
    font-size: rem(30px);
    font-weight: 700;
    color: $text-color--muted;
    opacity: $opacity;
    transition: all $transition-time;

    @media (min-width: $screen-xl) {
      margin: 0 0 rem(12px) 0;
      opacity: 1;
    }

    &--message {

      @media (min-width: $screen-xl) {
        flex: 0 0 rem(60px);
        min-width: rem(60px);
        margin: rem(10px) rem(16px) 0 0 !important;
        font-size: rem(48px) !important;
        color: $text-color--muted !important;
        opacity: $opacity / 2 !important;
      }
    }
  }

  &__title {
    color: $text-color--muted;
    transition: all $transition-time;
  }

  &__content {

    @media (min-width: $screen-xl) {
      max-width: rem(152px);
    }
  }

  &__message {
    display: none;

    @media (min-width: $screen-xl) {
      position: absolute;
      left: -100px;
      top: 100%;
      width: rem(440px);
      margin-top: rem(68px);
      padding: rem(32px) rem(32px);
      border-radius: $border-radius;
      background: $body-bg;
      box-shadow: $shadow--smaller;
      opacity: 0;
      animation: show-scheme-message $transition-time cubic-bezier(0, 0, 0.2, 1);

      #{$block-name}--first & {
        left: 0;
      }

      #{$block-name}--last & {
        left: auto;
        right: 0;
      }

      #{$block-name}--active & {
        display: flex;
        opacity: 1;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: rem(136px);
        bottom: 100%;
        width: 0;
        height: 0;
        border-left: rem(14px) solid transparent;
        border-right: rem(14px) solid transparent;
        border-bottom: rem(14px) solid $body-bg;

        #{$block-name}--first & {
          left: rem(52px);
        }

        #{$block-name}--last & {
          left: auto;
          right: rem(92px);
        }
      }
    }
  }
}


@keyframes show-scheme-message {

  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
