//- Все примеси в этом файле должны начинаться c имени блока (scheme)

mixin scheme(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +scheme('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' scheme--' + modsList[i].trim();
      }
    }

  .scheme(class=allMods)&attributes(attributes)
    .scheme__inner!= text
