// В этом файле должны быть стили для БЭМ-блока photos, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.photos {

  $block-name:                &; // #{$block-name}__element

  &__heading {

    @media (min-width: $screen-md) {
      text-align: center;
    }
  }

  &__buttons-group {
    margin-top: rem(28px);
    
    @media (min-width: $screen-md) {
      margin-top: rem(68px);
    }
  }
}
