// В этом файле должны быть стили для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.menu {

  $block-name:                &; // #{$block-name}__element

  display: none;
  padding-top: rem(8px);
  padding-bottom: rem(36px);
  color: $text-color--invert;
  
  @media (min-width: $screen-md) {
    padding-bottom: rem(48px);
  }

  &__inner {
    @include container();
  }

  &__container {
    @include row();
     margin-top: rem(-40px);
  }
  &__item {
    @include col();
    margin-top: rem(40px);
    
    &--contact {
      @include col(md, 4);
      @include col(lg, 3);
    }
    
    &--form {
      @include col(md, 8);
      @include col(lg, 9);
    }
  }
}

.menu-opened {

  overflow: hidden;

  .menu {
    display: block;
  }

  .menu-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $menu-bg;
    overflow: auto;
  }
  
}
