// В этом файле должны быть стили для БЭМ-блока tariffs-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tariffs-list {

  $block-name:                &; // #{$block-name}__element

  &__container {
    margin-top: rem(-20px) !important;
    padding: 0;
  }

  &__item {
    margin-top: rem(20px);
  }
}
