extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header('', 'menu-open')
    .menu-block
      +header()
        .header__item.header__item--logo
          +logo('/')
            img(src='img/logo.png', alt='')
        .header__item.header__item--main-nav
          .main-nav
            ul.main-nav__list
              li.main-nav__item
                +scroll-link('О компании', '#about')(class='main-nav__link')
              li.main-nav__item
                +scroll-link('Преимущества', '#advantages')(class='main-nav__link')
              li.main-nav__item
                +scroll-link('Условия', '#conditions')(class='main-nav__link')
              li.main-nav__item
                +scroll-link('Тарифы', '#tariffs')(class='main-nav__link')
              li.main-nav__item
                +scroll-link('Схема работы', '#schemes')(class='main-nav__link')
              li.main-nav__item
                +scroll-link('Контакты', '#contacts')(class='main-nav__link')
        .header__item.header__item--burger
          +burger()(class='js-menu-open')
      +menu()
        .menu__container
          .menu__item.menu__item--contact
            .contacts-list.contacts-list--column
              ul.contacts-list__container
                li.contacts-list__item
                  .contact.contact--invert
                    .contact__media
                      .contact__icon
                        svg(width="12", height="12")
                          use(xlink:href="img/sprite-svg.svg#icon-phone")
                    .contact__content
                      +text('', 'muted')(class='contact__text')
                        p Телефон для связи
                      +title()(class='contact__title')
                        a(href='tel:+79992242400')
                          | +7 999 224-24-00
                li.contacts-list__item
                  .contact.contact--invert
                    .contact__media
                      .contact__icon
                        svg(width="12", height="12")
                          use(xlink:href="img/sprite-svg.svg#icon-email")
                    .contact__content
                      +text('', 'muted')(class='contact__text')
                        p E-mail
                      +title()(class='contact__title')
                        a(href='mailto:info@genesis.com')
                          | info@genesis.com
                li.contacts-list__item
                  .contact.contact--invert
                    .contact__media
                      .contact__icon
                        svg(width="12", height="12")
                          use(xlink:href="img/sprite-svg.svg#icon-telegram")
                    .contact__content
                      +text('', 'muted')(class='contact__text')
                        p Сообщество в Telegram
                      +title()(class='contact__title')
                        a(href='https://t.me/genesispartner', target='_blank')
                          | @genesispartner
          .menu__item.menu__item--form
            .menu-form
              .menu-form__container
                h4.heading.menu-form__heading
                  | Оставить заявку на&nbsp;бронь майнинг отеля
                +text('', 'small')(class='menu-form__text')
                  p Наш менеджер свяжется с&nbsp;вами и&nbsp;ознакомит с&nbsp;нюансами уже через 15&nbsp;минут
                +form('row')
                  +fieldset('', 'user')
                    +field-text({
                      title: 'Введите имя',
                      mods: 'validation, invert',
                      attrs: {
                        'data-validation-length': '3'
                      }
                    })
                    +field-text({
                      title: 'Введите телефон',
                      mods: 'phone, invert'
                    })
                  +fieldset('', 'message')
                    +field-text({
                      title: 'Сообщение',
                      mods: 'invert',
                      isTextarea: true,
                      attrs: {
                        rows: '1'
                      }
                    })
                  +field-actions()(class='form__field-actions')
                    +buttons-group('', 'centered, md-ended')
                      .buttons-group__item
                        +button('ОСТАВИТЬ ЗАЯВКУ')(type='submit')
    +section('', 'hero')(class='hero')
      .hero__container
        h1.heading.hero__heading
          | Лучший хостинг для майнинг оборудования под&nbsp;ключ
        +text('', 'muted, invert')(class='hero__text')
          p
            b Стабильный высокоскоростной интернет. Два резервных канала. Выделение VPN под каждого клиента
        +buttons-group()(class='hero__buttons-group')
          .buttons-group__item
            +button('ОСТАВИТЬ ЗАЯВКУ')(href='#')
          .buttons-group__item.buttons-group__item--visible-sm-up
            +button('ПОДРОБНЕЕ', 'outline-invert')(href='#')

block content
  +section('', 'about')(class='about', id='about')
    .about__container
      .about__item
        h2.heading.about__heading
          | О Genesis Partner
        +text('', 'muted')(class='about__text')
          p
            | Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы.
          p
            | Бесплатная доставка. Проверка оборудования в&nbsp;Московском офисе. Особые условия для крупных майнеров. Пишите, ждем Вас!
        +buttons-group('', 'centered, lg-started')(class='about__buttons-group')
          .buttons-group__item
            +button('ПОДРОБНЕЕ ОБ&nbsp;УСЛОВИЯХ', 'outline')(href='#')
  +section('', 'advantages')(class='advantages', id='advantages')
    .advantages__container
      h2.heading.advantages__heading
        | Преимущества нашего майнинг отеля
      .advantages-list
        ul.advantages-list__container
          li.advantages-list__item
            .advantage.advantage--green
              .advantage__media
                img.advantage__icon(src="img/advantage-1.png", alt="")
              .advantage__content
                +title()(class='advantage__title')
                  | 24/7 охрана, закрытая территория
          li.advantages-list__item
            .advantage.advantage--blue
              .advantage__media
                img.advantage__icon(src="img/advantage-2.png", alt="")
              .advantage__content
                +title()(class='advantage__title')
                  | Расположение в&nbsp;центре города
          li.advantages-list__item
            .advantage.advantage--orange
              .advantage__media
                img.advantage__icon(src="img/advantage-3.png", alt="")
              .advantage__content
                +title()(class='advantage__title')
                  | Договор ответственного хранения
          li.advantages-list__item
            .advantage.advantage--pink
              .advantage__media
                img.advantage__icon(src="img/advantage-4.png", alt="")
              .advantage__content
                +title()(class='advantage__title')
                  | 24/7 техническая поддержка
  +section('', 'conditions')(class='conditions', id='conditions')
    .conditions__container
      h2.heading.conditions__heading
        | Условия в&nbsp;майнинг отеле
      .conditions-list
        ul.conditions-list__container
          li.conditions-list__item
            .condition
              .condition__media
                .condition__icon
              .condition__content
                +title()(class='condition__title')
                  | Выделенная мощность электроэнергии более 1&nbsp;мВт
                +text('', 'small')(class='condition__text')
                  p Помещение 200&nbsp;м#[sup 2], высота потолков&nbsp;5,5 м
          li.conditions-list__item
            .condition.condition--even.condition--light
              .condition__media
                .condition__icon
              .condition__content
                +title()(class='condition__title')
                  | Профессиональная вентиляция с&nbsp;уникальной системой фильтрации
                +text('', 'small')(class='condition__text')
                  p Совокупная мощность вентиляторов более 50&nbsp;000&nbsp;м#[sup 3]/час
          li.conditions-list__item
            .condition.condition--light
              .condition__media
                .condition__icon
              .condition__content
                +title()(class='condition__title')
                  | Мониторинг и&nbsp;поддержание рабочей температуры в&nbsp;помещении
                +text('', 'small')(class='condition__text')
                  p Выделенный автомат на&nbsp;каждый майнер. Защита от&nbsp;скачков напряжения
          li.conditions-list__item
            .condition.condition--even
              .condition__media
                .condition__icon
              .condition__content
                +title()(class='condition__title')
                  | Стабильный высокоскоростной интернет. Два резервных канала
                +text('', 'small')(class='condition__text')
                  p Выделение VPN под каждого клиента, интернет высочайшего уровня
          li.conditions-list__item
            .condition
              .condition__media
                .condition__icon
              .condition__content
                +title()(class='condition__title')
                  | Выделение VPN под&nbsp;каждого клиента
                +text('', 'small')(class='condition__text')
                  p Профессиональный электромонтаж. Выделенный автомат на&nbsp;каждый майнер. Защита от&nbsp;скачков напряжения
          li.conditions-list__item
            .condition.condition--even.condition--light
              .condition__media
                .condition__icon
              .condition__content
                +title()(class='condition__title')
                  | Пожарная сигнализация
                +text('', 'small')(class='condition__text')
                  p Профессиональный электромонтаж. Выделенный автомат на&nbsp;каждый майнер. Защита от&nbsp;скачков напряжения
  .section.section--tariffs.tariffs#tariffs
    .section__inner
      .tariffs__container
        h2.heading.tariffs__heading
          | Тарифы
        span
    .section__inner.section__inner--full-width
      .tariffs__container
        .tariffs-list
          .tariffs-list__container
            +owl-carousel('carousel-tariffs')
              .tariffs-list__item
                .tariff.tariff--green
                  .tariff__content
                    +title()(class='tariff__title')
                      | ТАРИФ AI
                    +text('', 'large, muted')(class='tariff__text')
                      p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы.
                  .tariff__footer
                    .tariff__price
                      | от 18 000 Руб.
                    +buttons-group('', 'centered, md-started')(class='tariff__buttons-group')
                      .buttons-group__item
                        +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-toggle='modal', data-target='#modal-tariff-01')
              .tariffs-list__item
                .tariff.tariff--blue
                  .tariff__content
                    +title()(class='tariff__title')
                      | ТАРИФ AI
                    +text('', 'large, muted')(class='tariff__text')
                      p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы.
                  .tariff__footer
                    .tariff__price
                      | от 18 000 Руб.
                    +buttons-group('', 'centered, md-started')(class='tariff__buttons-group')
                      .buttons-group__item
                        +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-toggle='modal', data-target='#modal-tariff-02')
              .tariffs-list__item
                .tariff.tariff--orange
                  .tariff__content
                    +title()(class='tariff__title')
                      | ТАРИФ AI
                    +text('', 'large, muted')(class='tariff__text')
                      p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы.
                  .tariff__footer
                    .tariff__price
                      | от 18 000 Руб.
                    +buttons-group('', 'centered, md-started')(class='tariff__buttons-group')
                      .buttons-group__item
                        +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-toggle='modal', data-target='#modal-tariff-03')
              .tariffs-list__item
                .tariff.tariff--pink
                  .tariff__content
                    +title()(class='tariff__title')
                      | ТАРИФ AI
                    +text('', 'large, muted')(class='tariff__text')
                      p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы.
                  .tariff__footer
                    .tariff__price
                      | от 18 000 Руб.
                    +buttons-group('', 'centered, md-started')(class='tariff__buttons-group')
                      .buttons-group__item
                        +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-toggle='modal', data-target='#modal-tariff-04')
  +section('', 'schemes')(class='schemes', id='schemes')
    .schemes__container
      h2.heading.schemes__heading
        | Схема работы
      +text('', 'small')(class='schemes__text')
        p На&nbsp;всех этапах Вас сопровождает личный менеджер
      .schemes-list
        ul.schemes-list__container
          li.schemes-list__item
            .scheme.scheme--first.scheme--active
              .scheme__number
                | 01
              .scheme__content
                +title()(class='scheme__title')
                  | Согласование условий и&nbsp;договора
              .scheme__message
                .scheme__number.scheme__number--message
                  | 01
                +text('', 'muted')(class='scheme__text')
                  | По&nbsp;результат проверки мы&nbsp;заключаем с&nbsp;Вами договор и&nbsp;производим оплату за&nbsp;наши услуги
          li.schemes-list__item
            .scheme
              .scheme__number
                | 02
              .scheme__content
                +title()(class='scheme__title')
                  | Проверка и&nbsp;тестирование оборудования у&nbsp;нас в&nbsp;офисе
              .scheme__message
                .scheme__number.scheme__number--message
                  | 02
                +text('', 'muted')(class='scheme__text')
                  | По&nbsp;результат проверки мы&nbsp;заключаем с&nbsp;Вами договор и&nbsp;производим оплату за&nbsp;наши услуги
          li.schemes-list__item
            .scheme
              .scheme__number
                | 03
              .scheme__content
                +title()(class='scheme__title')
                  | Заключение договора и&nbsp;оплата
              .scheme__message
                .scheme__number.scheme__number--message
                  | 03
                +text('', 'muted')(class='scheme__text')
                  | По&nbsp;результат проверки мы&nbsp;заключаем с&nbsp;Вами договор и&nbsp;производим оплату за&nbsp;наши услуги
          li.schemes-list__item
            .scheme
              .scheme__number
                | 04
              .scheme__content
                +title()(class='scheme__title')
                  | Доставка оборудования до&nbsp;майнинг отеля
              .scheme__message
                .scheme__number.scheme__number--message
                  | 04
                +text('', 'muted')(class='scheme__text')
                  | По&nbsp;результат проверки мы&nbsp;заключаем с&nbsp;Вами договор и&nbsp;производим оплату за&nbsp;наши услуги
          li.schemes-list__item
            .scheme
              .scheme__number
                | 05
              .scheme__content
                +title()(class='scheme__title')
                  | Запуск оборудования и&nbsp;настройка видеонаблюдения
              .scheme__message
                .scheme__number.scheme__number--message
                  | 05
                +text('', 'muted')(class='scheme__text')
                  | По&nbsp;результат проверки мы&nbsp;заключаем с&nbsp;Вами договор и&nbsp;производим оплату за&nbsp;наши услуги
          li.schemes-list__item
            .scheme.scheme--last
              .scheme__number
                | 06
              .scheme__content
                +title()(class='scheme__title')
                  | Эксплуатация оборудования и&nbsp;мониторинг
              .scheme__message
                .scheme__number.scheme__number--message
                  | 06
                +text('', 'muted')(class='scheme__text')
                  | По&nbsp;результат проверки мы&nbsp;заключаем с&nbsp;Вами договор и&nbsp;производим оплату за&nbsp;наши услуги
        .progress.schemes-list__progress
          .progress__bar(style='width: 8.666666666666664%;')
  +section('', 'faq')(class='faq')
    .faq__container
      h2.heading.faq__heading
        | Вопросы и&nbsp;ответы
      +tabs([
        {
          'id': 'tab00',
          'text': 'Основные вопросы',
          'isActive': true,
        },
        {
          'id': 'tab01',
          'text': 'Финансовые вопросы',
        },
        {
          'id': 'tab02',
          'text': 'Безопасность',
        },
        {
          'id': 'tab03',
          'text': 'Майнинг',
        },
        ], 'faq')
        +tabs-item('tab00', true, 'some')
          .accordion-list
            .accordion-list__container
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где расположен Дата-центр?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Сколько времени проходит между подписанием договора и&nbsp;началом функционирования оборудования?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где проверяется оборудование, подписывается договор?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Сколько стоит доставка оборудования из&nbsp;Москвы?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Почему наш майнинг отель?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
        +tabs-item('tab01')
          .accordion-list
            .accordion-list__container
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где проверяется оборудование, подписывается договор?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
                .accordion-list__item
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где расположен Дата-центр?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
        +tabs-item('tab02')
          .accordion-list
            .accordion-list__container
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где проверяется оборудование, подписывается договор?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
                .accordion-list__item
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где расположен Дата-центр?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
        +tabs-item('tab03')
          .accordion-list
            .accordion-list__container
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где проверяется оборудование, подписывается договор?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе
                .accordion-list__item
              .accordion-list__col
                .accordion-list__item
                  .accordion
                    .accordion__header.js-accordion__header(role='button', tabindex='0')
                      .accordion__more
                        +arrow()(class='accordion__arrow')
                      .accordion__title
                        | Где расположен Дата-центр?
                      +close()(class='accordion__close')
                    .accordion__content
                      +text('', 'muted')(class='accordion__text')
                        p Основной Дата-центр расположен в&nbsp;80 километрах от&nbsp;Санкт-Петербурга, два дополнительных находятся в&nbsp;самом городе

  +section('', 'photos')(class='photos', id='photos')
    .photos__container
      h2.heading.photos__heading
        | Фотографии нашего майнинг отеля
      .photos-list
        ul.photos-list__container
          li.photos-list__item
            .photo
              a.photo__link(data-fancybox='gallery', href='img/photo-1-full.jpg')
                img.photo__image(src='img/photo-1.jpg', alt='')
          li.photos-list__item
            .photo
              a.photo__link(data-fancybox='gallery', href='img/photo-2-full.jpg')
                img.photo__image(src='img/photo-2.jpg', alt='')
          li.photos-list__item
            .photo
              a.photo__link(data-fancybox='gallery', href='img/photo-3-full.jpg')
                img.photo__image(src='img/photo-3.jpg', alt='')
      +buttons-group('', 'centered')(class='photos__buttons-group')
        .buttons-group__item
          +button('БОЛЬШЕ ФОТОГРАФИЙ', 'outline-invert')(href='#')

block footer
  +page-footer()
    +section('', 'contacts')(class='contacts', id='contacts')
      .contacts__container
        .contacts__item.contacts__item--contact
          .contacts-list
            ul.contacts-list__container
              li.contacts-list__item
                .contact.contact--green
                  .contact__media
                    .contact__icon
                      svg(width="12", height="12")
                        use(xlink:href="img/sprite-svg.svg#icon-phone")
                  .contact__content
                    +text('', 'muted')(class='contact__text')
                      p Телефон для связи
                    +title()(class='contact__title')
                      a(href='tel:+79992242400')
                        | +7 999 224-24-00
              li.contacts-list__item
                .contact.contact--orange
                  .contact__media
                    .contact__icon
                      svg(width="12", height="12")
                        use(xlink:href="img/sprite-svg.svg#icon-email")
                  .contact__content
                    +text('', 'muted')(class='contact__text')
                      p E-mail
                    +title()(class='contact__title')
                      a(href='mailto:info@genesis.com')
                        | info@genesis.com
              li.contacts-list__item
                .contact.contact--blue
                  .contact__media
                    .contact__icon
                      svg(width="12", height="12")
                        use(xlink:href="img/sprite-svg.svg#icon-telegram")
                  .contact__content
                    +text('', 'muted')(class='contact__text')
                      p Сообщество в Telegram
                    +title()(class='contact__title')
                      a(href='https://t.me/genesispartner', target='_blank')
                        | @genesispartner
        .contacts__item
          .contacts-form
            .contacts-form__container
              .contacts-form__item
                h2.heading.heading--secondary.contacts-form__heading
                  | Оставить заявку на&nbsp;бронь майнинг отеля
                +text('', 'small')(class='contacts-form__text')
                  p Наш менеджер свяжется с&nbsp;вами и&nbsp;ознакомит с&nbsp;нюансами уже через 15&nbsp;минут
              .contacts-form__item
                +form()
                  +fieldset('', 'user')
                    +field-text({
                      title: 'Введите имя',
                      mods: 'validation',
                      attrs: {
                        'data-validation-length': '3'
                      }
                    })
                    +field-text({
                      title: 'Введите телефон',
                      mods: 'phone'
                    })
                  +fieldset('', 'message')
                    +field-text({
                      title: 'Сообщение',
                      isTextarea: true,
                      attrs: {
                        rows: '1'
                      }
                    })
                  +field-actions()(class='form__field-actions')
                    +buttons-group('', 'centered, md-ended')
                      .buttons-group__item
                        +button('ОСТАВИТЬ ЗАЯВКУ')(type='submit')
    +footer()
      .footer__item
        | Copyright &copy; 2018, #[a(href='#') Genesis Partner LLC]

block page-modal
  +modal('modal-tariff-01', 'Тариф 05-М', 'green')
    .modal__body
      +text()(class='modal__text')
        p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы. Бесплатная доставка. Проверка оборудования в&nbsp;Московском офисе. Особые условия для крупных майнеров. Пишите, ждем Вас!
      .table-data.modal__table
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Наименование
          .table-data__cell
            | Antminer Z9 mini
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Потребление кВт/час
          .table-data__cell
            | 0,3-0,5
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении оборудовани до&nbsp;6&nbsp;мес #[br]и&nbsp;при ежемесячной оплате
          .table-data__cell
            | #[span.lead 2 000,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;50&nbsp;шт. #[br]или при оплате за&nbsp;6&nbsp;месяцев
          .table-data__cell
            | #[span.lead 1 750,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;100&nbsp;шт. #[br]или при оплате за&nbsp;1&nbsp;год
          .table-data__cell
            | #[span.lead 1 500,00р.]
    .modal__footer
      +buttons-group('', 'centered, md-betweened')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('Тариф AI', 'outline-dark, point, pink')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-04')
        .buttons-group__item
          +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-dismiss='modal')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('Тариф 01-Z', 'outline-dark, point, blue')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-02')
  +modal('modal-tariff-02', 'Тариф 01-Z', 'blue')
    .modal__body
      +text()(class='modal__text')
        p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы. Бесплатная доставка. Проверка оборудования в&nbsp;Московском офисе. Особые условия для крупных майнеров. Пишите, ждем Вас!
      .table-data.modal__table
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Наименование
          .table-data__cell
            | Antminer Z9 mini
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Потребление кВт/час
          .table-data__cell
            | 0,3-0,5
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении оборудовани до&nbsp;6&nbsp;мес #[br]и&nbsp;при ежемесячной оплате
          .table-data__cell
            | #[span.lead 2 000,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;50&nbsp;шт. #[br]или при оплате за&nbsp;6&nbsp;месяцев
          .table-data__cell
            | #[span.lead 1 750,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;100&nbsp;шт. #[br]или при оплате за&nbsp;1&nbsp;год
          .table-data__cell
            | #[span.lead 1 500,00р.]
    .modal__footer
      +buttons-group('', 'centered, md-betweened')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('Тариф 05-М', 'outline-dark, point, green')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-01')
        .buttons-group__item
          +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-dismiss='modal')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('ТАРИФ 02-L', 'outline-dark, point, orange')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-03')
  +modal('modal-tariff-03', 'Тариф 02-L', 'orange')
    .modal__body
      +text()(class='modal__text')
        p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы. Бесплатная доставка. Проверка оборудования в&nbsp;Московском офисе. Особые условия для крупных майнеров. Пишите, ждем Вас!
      .table-data.modal__table
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Наименование
          .table-data__cell
            | Antminer Z9 mini
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Потребление кВт/час
          .table-data__cell
            | 0,3-0,5
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении оборудовани до&nbsp;6&nbsp;мес #[br]и&nbsp;при ежемесячной оплате
          .table-data__cell
            | #[span.lead 2 000,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;50&nbsp;шт. #[br]или при оплате за&nbsp;6&nbsp;месяцев
          .table-data__cell
            | #[span.lead 1 750,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;100&nbsp;шт. #[br]или при оплате за&nbsp;1&nbsp;год
          .table-data__cell
            | #[span.lead 1 500,00р.]
    .modal__footer
      +buttons-group('', 'centered, md-betweened')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('Тариф 01-Z', 'outline-dark, point, blue')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-02')
        .buttons-group__item
          +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-dismiss='modal')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('Тариф AI', 'outline-dark, point, pink')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-04')
  +modal('modal-tariff-04', 'Тариф AI', 'pink')
    .modal__body
      +text()(class='modal__text')
        p Просторные помещения, большой объем свободной мощности, промышленная вентиляция. Договор ответственного хранения! 80&nbsp;километров от&nbsp;Москвы. Бесплатная доставка. Проверка оборудования в&nbsp;Московском офисе. Особые условия для крупных майнеров. Пишите, ждем Вас!
      .table-data.modal__table
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Наименование
          .table-data__cell
            | Antminer Z9 mini
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Потребление кВт/час
          .table-data__cell
            | 0,3-0,5
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении оборудовани до&nbsp;6&nbsp;мес #[br]и&nbsp;при ежемесячной оплате
          .table-data__cell
            | #[span.lead 2 000,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;50&nbsp;шт. #[br]или при оплате за&nbsp;6&nbsp;месяцев
          .table-data__cell
            | #[span.lead 1 750,00р.]
        .table-data__row
          .table-data__cell.table-data__cell--title
            | Стоимость услуги за&nbsp;1&nbsp;ед. #[br]при размещении от&nbsp;100&nbsp;шт. #[br]или при оплате за&nbsp;1&nbsp;год
          .table-data__cell
            | #[span.lead 1 500,00р.]
    .modal__footer
      +buttons-group('', 'centered, md-betweened')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('Тариф 02-L', 'outline-dark, point, orange')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-03')
        .buttons-group__item
          +button('ОСТАВИТЬ ЗАЯВКУ')(type='button', data-dismiss='modal')
        .buttons-group__item.buttons-group__item--visible-sm-up
          +button('Тариф 05-М', 'outline-dark, point, green')(type='button', data-dismiss='modal', data-toggle='modal', data-target='#modal-tariff-01')
