//- Все примеси в этом файле должны начинаться c имени блока (menu-form)

mixin menu-form(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +menu-form('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' menu-form--' + modsList[i].trim();
      }
    }

  .menu-form(class=allMods)&attributes(attributes)
    .menu-form__inner!= text
