// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {

  $block-name:                &; // #{$block-name}__element

  padding: rem(22px) 0;

  @media (min-width: $screen-lg) {
    padding: rem(44px) 0;
  }

  &__inner {
    @include container();
  }

  &__container {
    @include row();
    align-items: center;
  }

  &__item {
    @include col();
    flex: none;

    &--logo {
      margin-right: auto;
    }

    &--main-nav {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }

      .menu-opened & {
        display: block;
        order: 1;
        margin-top: rem(24px);

        @media (min-width: $screen-lg) {
          order: 0;
          margin-top: 0;
        }
      }
    }

    &--burger {
      margin-left: rem(16px);
    }
  }
}
