// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-size--h3:               rem(24px) !default;

$line-height:                 1.5 !default;

.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $font-size--h3;
    font-family: $font-family--headings;
    font-weight: 700;
    line-height: $line-height;
    white-space: normal; // Привет IE
    color: currentColor;
  }

  &--row {
    @include row($grid-gutter-width, $grid-gutter-width, $grid-gutter-width, $grid-gutter-width, $grid-gutter-width * 1.5);
    align-items: flex-end;
    
    #{$block-name}__fieldset {
      @include col();
      
      &--user {
        @include col(md, 6, $grid-columns, $grid-gutter-width);
        @include col(lg, 4, $grid-columns, $grid-gutter-width * 1.5);
      }
      
      &--message {
        @include col(md, 6, $grid-columns, $grid-gutter-width);
        @include col(lg, 8, $grid-columns, $grid-gutter-width * 1.5);
      }
    }
    
    #{$block-name}__field-actions {
      flex: 0 0 100%;
      min-width: 100%;
    }
  }
}
